header {
  z-index: 1;
  top: 0px;
  margin-bottom: 30px; }

footer {
  background-color: darkred; }
  footer .infoFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    color: white; }
  footer ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center; }
  footer h6 {
    text-align: justify;
    color: white; }

.copy {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
  color: darkred; }

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: brown;
  text-align: center; }

.textoIndex {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: justify;
  background-color: #fff2db; }
  .textoIndex ul li {
    list-style: none; }

ul li {
  list-style: none; }

.textoMision {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: black;
  background-color: #fff2db; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: darkred; }

.Novedades {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #fff2db; }

.contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #fff2db; }

.logo {
  display: flex;
  justify-content: flex-end; }
