header {
	z-index: 1;
	top: 0px;
	padding: 30px 30px 10px 30px;
	margin-bottom: 50px;
}
.infoFooter{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
ul li{
	list-style: none;
}
h6 {
	text-align: center;
	color: white;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 300%;
	text-align: center;
	color:darkred;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: brown;
	text-align: center;
}
.textoIndex {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	text-align: justify;
	background-color: #fff2db;
}
footer{
	background-color: grey;
}
.textoMision {
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-transform: uppercase;
	color: black;
	background-color: rgba(255,255,255,0.7);
}
.parallax {
    background-image: url("../assets/img/donacion_sangre.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Novedades {
	font-family: 'Montserrat', sans-serif;
	color: black;
	background-color: #fff2db;
}
.NovedadesIntermedio {
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: darkred;
}
