$rojo: darkred;
$tipo: 'Montserrat', sans-serif;
$blanco: white;
$rosa: #fff2db;
$negro: black;




header {
	z-index: 1;
	top: 0px;
	margin-bottom: 30px;
	
}

footer{
	background-color: $rojo;

    .infoFooter{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: $tipo;
    color: $blanco;
    }

    ul li{
	  list-style: none;
	  display: flex;
	  flex-direction: row;
	  align-items: center;

    }
    h6 {
	  text-align: justify;
	  color: $blanco;
    }
}


.copy{
    font-family: $tipo;
	text-align: center;
	color: $blanco;
}

h2 {
	font-family: $tipo;
	font-weight: bold;
	font-size: 300%;
	text-align: center;
	color: $rojo;
}

h3 {
	font-family: $tipo;
	color: $blanco;
	background-color: brown;
	text-align: center;
}

.textoIndex {
	font-family: $tipo;
	font-style: normal;
	text-align: justify;
	background-color: $rosa;

	ul li{
	  list-style: none;
    }
}

ul li{
	  list-style: none;
    }

.textoMision {
	font-family: $tipo;
    font-style: normal;
    color: $negro;
    background-color: $rosa;
}
h4 {
	font-family: $tipo;
	font-weight: bold;
	text-align: center;
	color: $rojo;
}

.Novedades {
	font-family: $tipo;
	color: $negro;
	background-color: $rosa;
}
.contacto {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: $tipo;
	background-color: $rosa;
	
}
.logo {
	display: flex; 
	justify-content: flex-end;

}